[user]
    name =  umeyuki
    email = umeyuki1326+github@gmail.com
[color]
    ui = true
[alias]
    ci = commit
    st = status
    co = checkout
    tr = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset' --date=iso
[core]
    pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
    excludesfile = ~/.gitignore
[pager]
    diff = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
