[user]
    name =  umeyuki
    email = umeyuki1326+github@gmail.com
[color]
    ui = true
[alias]
    ci = commit
    st = status
    co = checkout
    tr = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset' --date=iso
[core]
    pager = "LESS=-R less"
    excludesfile = ~/.gitignore

